.cpu_tool-wrapper {
    display: flex;
    flex-flow: column;
    height: inherit;
    padding: 5px;
    resize: both;
    overflow: hidden;
    min-height: 200px;
    background-color: #eee;
}
.cpu_tool-body {
    display: flex;
    flex-flow: row;
    flex: 1 1 auto;
}

.cpu_tool-body-left {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
    margin: 5px 5px 0 5px;
    overflow-x: hidden;
    width: 95%;
}
.cpu_tool-body-left-header {
    padding: 3px;
    margin-bottom: -17px;
}
.cpu_tool-assemble-button {
    margin: 3px;
}
.cpu_tool-new-buffer {
    margin-left: 0.3em;
}
.cpu_tool-ISA {
    float: right;
    background-color: #333;
    color: white;
    padding: 5px;
    font-size: small;
}
.cpu_tool-buffer-name-wrapper {
    position: relative;
    top: 17px;
    width: 200px;
    z-index: 1;
    margin: 0 auto;
}
.cpu_tool-read-only {
    display: none;
    position: absolute;
    z-index: 2;
    top: 4px;
    left: 5px;
}
.cpu_tool-buffer-name {
    position: relative;
    top:4px;
    background-color: white;
    width: 200px;
    height: 15px;
    border: 1px solid black;
    border-radius: 10px;
    resize: none;
    margin: 0;
    text-align: center;
}
.cpu_tool-notice {
    font-size: small;
}

.cpu_tool-body-right {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    margin: 5px;
    background-color: #CFC;
}

.cpu_tool-body-divider {
    margin: 3px;
    border: 2px solid #333;
    cursor: col-resize;
}

.btn {
  display: inline-block
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  padding: .375rem .75rem;
  border-radius: .25rem;
  cursor: pointer;
}
.btn.selected {
    background-color: #333;
    color: white;
}
.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}
.btn-tiny {
  padding: .15rem .3rem;
  font-size: .7rem;
  line-height: 1;
  border-radius: .2rem;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-secondary {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-light {
  color: #212529;
  background-color: 
  border-color: #eee;
}
.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.cpu_tool .CodeMirror {
    flex: 1 1 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid black;
}
