.sim_tool {
    min-width: 300px;  /* account for Assemble button */
}
.sim_tool-ISA {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 5px;
    font-size: small;
    user-select: none;
    -webkit-user-select: none;
}
.sim_tool-simulator-header {
    margin-top: 3px;
    min-width: 275px;
}
.cpu_tool-simulator-control {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    width: 60px;
    height: 30px;
    text-align: center;
    padding: 5px;
}
.cpu_tool-tip {
    display: none;
    position: absolute;
    top: 35px;
    left: 0px;
    background-color: white;
    white-space: nowrap;
    padding: 5px;
    border-radius: 5px;
    font-size: 12pt;
}
.cpu_tool-simulator-control:hover .cpu_tool-tip {
    display: inline-block;
}
