.sim_tool {
    min-width: 300px;  /* account for Assemble button */
}
.sim_tool-ISA {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 5px;
    font-size: small;
    user-select: none;
    -webkit-user-select: none;
}
.cpu_tool-simulator-header {
    margin-top: 3px;
    min-width: 275px;
    margin-bottom: 5px;
}
.cpu_tool-simulator-divs {
    flex: 1 1 auto;
    overflow: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.cpu_tool-regs-and-insts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cpu_tool-regs {
    flex: 0 0 auto;
    border: 1px solid black;
    background-color: white;
    min-height: 50px;
    min-width: 50px;
    font-family: monospace;
    font-size: 15px;
}
.cpu_tool-insts {
    flex: 1 1 auto;
    border: 1px solid black;
    background-color: white;
    min-height: 50px;
    min-width: 300px;
    font-family: monospace;
    font-size: 15px;
    overflow-y: scroll;
    padding-right: 10px;
}
.cpu_tool-memory-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cpu_tool-memory {
    flex: 1 1 auto;
    border: 1px solid black;
    background-color: white;
    font-family: monospace;
    font-size: 15px;
    overflow-y: scroll;
    padding-right: 10px;
}
.cpu_tool-addr {
    color: #AAA;
    text-align: right;
}
.cpu_tool-label {
    color: black;
}
.cpu_tool-inst {
    white-space: pre;
}
.cpu_tool-stack-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cpu_tool-stack {
    flex: 1 1 auto;
    border: 1px solid black;
    background-color: white;
    font-family: monospace;
    font-size: 15px;
    overflow: auto;
    padding-right: 10px;
}
.cpu_tool-footer {
}
