.foo {
  background-color: #FF8;
}
.sim_tool {
    min-width: 300px;  /* account for Assemble button */
}
.sim_tool-ISA {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 5px;
    font-size: small;
    user-select: none;
    -webkit-user-select: none;
}
.cpu_tool-simulator-header {
    margin-top: 3px;
    min-width: 275px;
    margin-bottom: 5px;
}
.cpu_tool-memories {
    flex: 1 1 auto;
    overflow: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
  margin-bottom: 5px;
  min-height: 150px;
  max-height: 500px;
}
.cpu_tool-simulator-control {
    background-color: #066;
    border-color: #066;
}
.cpu_tool-running {
  display: none;
  position: relative;
  top: 5px;
  width: 12px;
  height: 12px;
  border: 3px solid rgba(0,102,102,.3);
  border-radius: 50%;
  border-top-color: #066;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
.cpu_tool-walk-stop, .cpu_tool-run-stop {
    display: none;
    background-color: #dc3545;
    border-color: #dc3545;
}
.cpu_tool-banner {
    background-color: #066;
    border: 1px solid #066;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    padding: 3px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: -3px;
    z-index: 1;
}
.cpu_tool-pane {
    border: 1px solid #066;
    border-radius: 3px;
    background-color: white;
    border-radius: 5px;
    font-family: monospace;
    font-size: 15px;
}
.cpu_tool-inst-column {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cpu_tool-regs {
    margin-bottom: 5px;
}
.cpu_tool-regs table {
    padding: 3px;
}
.cpu_tool-cache {
  font-size: small;
}
.cpu_tool-disassembly {
    min-height: 50px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.cpu_tool-insts table {
    padding: 3px;
    padding-right: 10px;
}
.cpu_tool-insts table td:last-child{
    width: 100%;
}
.cpu_tool-memory-column {
    display: flex;
    flex-direction: column;
}
.cpu_tool-memory {
    overflow-y: scroll;
}
.cpu_tool-memory table {
    padding: 3px;
    padding-right: 10px;
}
.cpu_tool-addr {
    color: #AAA;
    text-align: right;
    font-family: monospace;
}
.cpu_tool-label {
    color: black;
    max-width: 100px;
    overflow-x: auto;
}
.cpu_tool-inst {
    white-space: pre;
    max-width: 220px;
    overflow-x: auto;
}
.cpu_tool-stack-column {
    display: flex;
    flex-direction: column;
}
.cpu_tool-stack {
    overflow-y: scroll;
}
.cpu_tool-stack table {
    padding: 3px;
    padding-right: 10px;
}
.cpu_tool-console-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
}
.cpu_tool-console {
  flex: 1 1 auto;
  resize: vertical;
  font-family: monospace;
  white-space: pre-wrap;
  min-height: 60px;
  max-height: 300px;
  overflow-y: scroll;
  padding: 5px;
  user-select: none;
  -webkit-user-select: none;
}
.cpu_tool-footer {
}
.cpu_tool-reg-read, .cpu_tool-mem-read {
    background-color: #DFD;
}
.cpu_tool-reg-write, .cpu_tool-mem-write {
    background-color: #DDF
}
.cpu_tool-next-inst {
    background-color: #FF8;
}
